@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    @apply border-stone-300 dark:border-stone-700;
  }

  ::selection {
    @apply bg-emerald-400 dark:bg-emerald-600;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2 bg-transparent;
  }

  ::-webkit-scrollbar-track {
    @apply bg-stone-100 dark:bg-stone-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-emerald-600 dark:bg-emerald-400 rounded-full transition-colors duration-300 hover:bg-emerald-500;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }

  a {
    @apply transition-colors duration-300 hover:text-emerald-700 dark:hover:text-emerald-300;
  }

  label {
    @apply text-xs uppercase font-bold;
  }

  form {
    @apply space-y-6;
  }

  input, textarea, select, .input {
    @apply block w-full font-normal border-1/2 text-lg bg-white dark:bg-stone-950 rounded-md px-3 py-2 focus:outline-none focus:border-emerald-600 dark:focus:border-emerald-400;
  }

  textarea {
    @apply min-h-36;
  }
}

@layer utilities {
  .background-pattern {
    background-image: linear-gradient(currentColor 1px, transparent 1px), linear-gradient(to right, currentColor 1px, transparent 1px);
    background-size: 50px 50px;
    background-position: center center;
    pointer-events: none;
    opacity: 0.375;
  }

  .marquee {
    --gap: 4rem;
    display: flex;
    gap: var(--gap);
    overflow: hidden;
    position: relative;
    user-select: none;
  }

  .marquee:hover .marqueeContent {
    animation-play-state: paused;
  }

  .marqueeContent {
    display: flex;
    flex-shrink: 0;
    gap: var(--gap);
    justify-content: space-around;
    min-width: 100%;
  }

  .marqueeContent.animation {
    animation: scroll 30s linear infinite;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .marqueeContent {
      animation-play-state: paused !important;
    }
  }
}

[class*="transition-"] {
  @apply duration-300;
}

#content {
  > *:first-child {
    @apply mt-0;
  }

  h2, h3, h4 {
    @apply mt-12 -mb-2;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  a {
    @apply underline hover:no-underline;
  }

  ol, ul {
    @apply ml-6 space-y-2;

    &.contains-task-list {
      @apply list-none ml-0;
    }

    ol, ul {
      @apply mt-2;
    }
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  pre {
    @apply rounded-md my-8 overflow-x-auto border-1/2 bg-stone-950;
  }

  p code {
    @apply bg-white dark:bg-stone-950 border-1/2 px-2 pt-1 rounded-md;
  }

  table {
    @apply w-full border-1/2 rounded-md;

    th, td {
      @apply border-1/2 py-1 px-3;
    }

    th {
      @apply bg-white dark:bg-stone-950;
    }

    tbody {
      @apply bg-stone-200 dark:bg-stone-800;
    }
  }

  blockquote {
    @apply border-l-4 border-emerald-400 dark:border-emerald-600 pl-4 py-2;
  }

  blockquote blockquote {
    @apply mt-2;
  }
}
